streamlit
pandas as pd
numpy as np
matplotlib.pyplot as plt
geopandas as gpd
contextily as ctx
folium
shapely.geometry
Polygon
io
base64
BytesIO
scipy.stats
chi2_contingency
seaborn
plotly.express
import prince
adjustText
adjust_text
FPDF
fpdf